<div ng-controller="PasswordSetCtrl">
    <div class="stepHeader lead">
        Passwords
    </div>
    <div class="stepInner">
        <div class="alert">
            <strong>Warning!</strong>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Cras bibendum hendrerit vulputate.
            Duis blandit rhoncus ligula, a varius mi condimentum non.
            Integer tincidunt nunc ac metus varius varius.
        </div>

        <h4>Change your passwords for your safety!</h4>

        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Cras bibendum hendrerit vulputate.
        Duis blandit rhoncus ligula, a varius mi condimentum non.
        Integer tincidunt nunc ac metus varius varius.
        <br />
        <br />
        <div id="changePasswordMessage" class="alert alert-danger" style='display:none;'></div>

        <form name="form" id="form" class="css-form" novalidate ng-controller="PasswordSetCtrl" ng-submit="submitPasswords()">
            <table class="w100 table table-bordered">
                <tr>
                    <td id='passwordLeft'>
                        <h4>Password For "iadmin"</h4>
                        <label>
                            New Password :<br />
                            <input type="password" ng-model="user.syspassword" name="syspassword" minlength="6" checkturkishchar />
                            <span ng-show="form.syspassword.$error.turkishchar" class="help-block red"><br>Please dont use turkish chars!</span>
                        </label>
                        <label>
                            Confirm Password :<br />
                            <input type="password" ng-model="user.syspassword2" name="syspassword2" checkturkishchar /> <br />
                            <span ng-show="form.syspassword2.$error.turkishchar" class="help-block red"><br>Please dont use turkish chars!</span>
                        </label>
                    </td>
                    <td id='passwordRight'>
                        <h4>Password For "admin"</h4>
                        <label>
                            New Password :<br />
                            <input type="password" ng-model="user.password" name="password" checkturkishchar  />
                            <span ng-show="form.password.$error.turkishchar" class='help-block red'>Please dont use turkish chars!</span>
                        </label>
                        <label>
                            Confirm Password :<br />
                            <input type="password" ng-model="user.password2" name="password2" checkturkishchar /> <br />
                            <span ng-show="form.password2.$error.turkishchar" class='help-block red'>Please dont use turkish chars!</span>
                        </label>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button type="submit" class="btn btn-success btn-small" >Save</button>
                        {{changePasswordMessage}}
                    </td>
                </tr>
            </table>
        </form>

    </div>
</div>
